<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <property name="COMMON_LOG_PATTERN"
              value="%d [%t] %-5p %c{0} - %m [%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}]%n%xThrowable{500, FULL, bar}"/>
    <property name="MONITOR_LOG_PATTERN" value="%d [%t] %-5p %c{0} - %m,[%X{X-B3-TraceId:-}]%n"/>

    <!-- 项目名称 -->
    <property name="APP_NAME" value="slave"/>​
    <!-- 归档文件保留的时间，即只保留几天前的归档文件，单位与fileNamePattern中配置的最小时间单位相同 -->
    <property name="MAX_HISTORY" value="7"/>
    <property name="LOG_PATH" value="${LOG_PATH:-/data/home/admin/trust/log}" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                    &lt;!&ndash; Minimum logging level to be presented in the console logs&ndash;&gt;
                    <level>DEBUG</level>
                </filter>-->
        <encoder>
            <pattern>%d [%thread] %highlight(%-5level) %cyan(%logger{15}) - %highlight(%msg) %n%xThrowable{500, FULL, bar}
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>